{% extends "./base.html" %}

{% block content %}
<div class="container mt-5" style="max-width: 600px;">
    <h2 class="mb-4 text-center">Редагувати забудовника</h2>
    <form method="post" class="border p-4 shadow rounded bg-light">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Ім'я/Назва:</label>
            <input type="text" name="name" id="name" class="form-control" value="{{ developer.1 }}" required>
        </div>

        <div class="mb-3">
            <label for="address" class="form-label">Адреса:</label>
            <input type="text" name="address" id="address" class="form-control" value="{{ developer.2 }}" required>
        </div>

        <div class="mb-3">
            <label for="phone_number" class="form-label">Номер телефону:</label>
            <input type="text" name="phone_number" id="phone_number" class="form-control" value="{{ developer.3 }}" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Редагувати</button>
    </form>
</div>
{% endblock %}
