{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Список володарів</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Owner ID</th>
                    <th>Тип</th>
                    <th>Ім’я</th>
                    <th>Адреса</th>
                    <th>Телефон</th>
                </tr>
            </thead>
            <tbody>
                {% for owner in owners %}
                <tr>
                    <td>{{ owner.0 }}</td>
                    <td>{{ owner.1 }}</td>
                    <td>{{ owner.2 }}</td>
                    <td>{{ owner.3 }}</td>
                    <td>{{ owner.4 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}